:root {
    --size-axis-y: 782px;
    --size-axis-x: 1174px;
    --prop-white-rectangle-axis-y: 1;
    --prop-white-rectangle-axis-x: 0.34;
    --prop-right-side-axis-y: 1;
    --prop-right-side-axis-x: 0.66;
    --prop-red-and-green-rectangles-axis-y: 0.5;
    --prop-red-and-green-rectangles-axis-x: 1;
    --color-background: #000;
    --color-flag-area: #c62fab;
    --color-white-rectangle: #fff;
    --color-red-rectangle: #f94139;
    --color-green-rectangle: #01833d;
}

* {
    background-color: var(--color-background);
    margin: 0;
}

.flag-area {
    background-color: var(--color-flag-area);
    height: var(--size-axis-y);
    width: var(--size-axis-x);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.white-rectangle {
    background-color: var(--color-white-rectangle);
    height: calc(var(--size-axis-y) * var(--prop-white-rectangle-axis-y));
    width: calc(var(--size-axis-x) * var(--prop-white-rectangle-axis-x));
}

.right-side {
    height: calc(var(--size-axis-y) * var(--prop-right-side-axis-y));
    width: calc(var(--size-axis-x) * var(--prop-right-side-axis-x));
}

.red-rectangle {
    background-color: var(--color-red-rectangle);
    height: calc(var(--size-axis-y) * var(--prop-red-and-green-rectangles-axis-y));
    width: 100%;
}

.green-rectangle {
    background-color: var(--color-green-rectangle);
    height: calc(var(--size-axis-y) * var(--prop-red-and-green-rectangles-axis-y));
    width: 100%;
}
