:root {
    --size-axis-y: 782px;
    --size-axis-x: 1171.436px;
    --prop-red-circle-axis-y: 0.5971;
    --prop-red-circle-axis-x: 0.3987;
    --color-background: #000;
    --color-flag-area: #fff;
    --color-white-background: #fff;
    --color-red-circle: #be0029;
}

* {
    background-color: var(--color-background);
    margin: 0;
}

.flag-area {
    background-color: var(--color-flag-area);
    height: var(--size-axis-y);
    width: var(--size-axis-x);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white-background {
    background-color: var(--color-white-background);
}

.red-circle {
    background-color: var(--color-red-circle);
    position: absolute;
    height: calc(var(--size-axis-y) * var(--prop-red-circle-axis-y));
    width: calc(var(--size-axis-x) * var(--prop-red-circle-axis-x));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
